@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

$c1: #015b75;
$f1: Poppins;
$f2: 'Kaushan Script';
$c2: #ff286f;

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: $f1, sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url('/assets/images/bg.jpg'), url('/assets/images/mask.jpg');
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  position: absolute;
  // background-color: green;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  .logo {
    position: relative;
    color: $c1;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url('/assets/images/menu.png') center no-repeat;
    background-size: 30px;
    cursor: pointer;
    transition: 75ms ease-in;

    &.active {
      background: url('/assets/images/close.png') center no-repeat;
      background-size: 25px;
      cursor: pointer;
    }
  }
}

.play {
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  left: 50px;

  img {
    max-width: 40px;
  }

  span {
    font-weight: 600;
    color: $c1;
    margin-left: 10px;
  }
}

.sci {
  position: absolute;
  bottom: 40px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;

  a {
    display: inline-block;
    text-decoration: none;
    transform: scale(0.6);
  }
}

.content {
  padding: 50px;

  h2 {
    font-size: 9em;
    line-height: 1em;
    color: $c1;
    font-family: $f2;
  }
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  transition: 200ms;

  ul {
    list-style-type: none;
    text-align: center;
  }

  li {
    margin: 20px 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    color: $c1;
    font-weight: 300;

    &:hover {
      color: $c2;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 200ms;

  video {
    max-width: 900px;
    outline: 0;
  }

  .close {
    position: absolute;
    top: 50px;
    right: 50px;
    transform: scale(.7);
    cursor: pointer;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}